body {
    background-image: url(../images/diamond_upholstery.png);
    background-repeat: repeat;
}

.header{
    box-sizing: border-box;
margin-top: 0px;
    margin: auto;
    background: white;
    width: 100%;
    height: 70px;
    margin-bottom:10px;
    border-bottom: 2px gray solid;

}

.myname {
    position: absolute;
    left: 20px;
    box-sizing: border-box;

    margin: auto;
    margin-left: 50px;
    padding-top: 25px;
    color: white;
    background: #4aaaa5;
    width: 300px;
    float: left;
    height:68px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

.links
  {margin: auto;
      float: right;
    position:relative;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: gray;
    padding: 37px;
}

  .aboutme 
  {   margin: auto;
          box-sizing: border-box;
      clear:both;
      background-color: white;
border: 1px silver solid;
max-width: 960px;
min-width:800px;
text-align: auto;
}


.text
{padding-left: 15px;
margin-bottom:12px}

h2 {padding-left:15px;
    color: #4aaaa5;
font-size: 24px;
font-family: 'Georgia', Times, Times New Roman, serif;
padding-top: 19px}

hr {margin: 15px}

#headshot {margin:15px;
   margin-top: 5px;
    float:left;
    width:200px;
    height:200px;}

    .footer{
        box-sizing: border-box;
    
        margin: auto;
        background: gray;
        width: 100%;
        height: 75px;
        margin-top:50px;
        border-top: 4px #4aaaa5 solid;
        text-align: center;
    }

    .portfolio {padding: 25px;}